*{
    margin : 0;
    scroll-behavior: smooth;

}




input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.greenColor{
    color: #00b300 !important;
}

.redColor{
    color: #ff0000 !important;
}